<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Greenstar LP</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <!--Href link Changed-->
  <link rel="stylesheet" href="D:\School Works\Ongoing\GREENSTAR-Portal\public\css\styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="body-acc-db">


    <div class="nav-bar">
      <p class="Company-Text">GREEN STAR LP</p>
      <div class="dropdown">
        <button class="account-dropdown">users name <i class="fa-solid fa-caret-down"></i></button>
          <ul>
            <li><a href="D:\School Works\Ongoing\GREENSTAR-Portal\views\cust_info.html">profile</a></li>
            <li><a href="">settings</a></li>
            <li><a href="">Log Out</a></li>
          </ul>
      </div>   
  </div>

  <div class="search">
    <input type="text" id="SearchText" placeholder="Search by ID"> 
    <button class="S-button">Search <i class="fa-solid fa-magnifying-glass"></i></button>

    <div class="edit-delete"> 

      <button class="E-button">EDIT <i class="fa-solid fa-user-pen"></i></button>
      <button class="D-button">DELETE <i class="fa-solid fa-trash"></i></button></div>
  </div>

  <table class="acc-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Sample_Fullname</td>
        <td>Sample_Username</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Sample_Fullname</td>
          <td>Sample_Username</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Sample_Fullname</td>
            <td>Sample_Username</td>
            </tr>
    </tbody>
  </table>
  
</body>
</html>