<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Greenstar LP</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <!--Href link Changed-->
  <link rel="stylesheet" href="D:\School Works\Ongoing\GREENSTAR-Portal\public\css\styles.css">
</head>

<body>
  <div class="cust-info-wrapper">
    <div class="nav-bar">
    </div>

    <div class="row">
      <div class="col-6">

        <section class="vehicle-owner">
          <div class="title-vehicleowner">
            <h6>Vehicle Owner</h6>
          </div>
          <form class="form-vehicle-owner" action="index.html" method="post">
            <div class="div-form-control-register row">
              <label for="fc-fullname" class="col-sm-3 col-form-label">Fullname:</label>
              <input class="fc-fullname col-sm-9 form-control form-control-sm" type="text" placeholder="Fullname">
              <label for="fc-org" class="col-sm-3 col-form-label">Organization:</label>
              <input class="fc-org col-sm-9 form-control form-control-sm" type="text" placeholder="Org">
            </div>
          </form>
        </section>

        <section class="address">
          <div class="title-address">
            <h6>Address</h6>
          </div>
          <form class="form-address" action="index.html" method="post">
            <div class="div-form-control-address row">
              <label for="fc-fullname" class="col-sm-3 col-form-label">City:</label>
              <input class="fc-fullname col-sm-9 form-control form-control-sm" type="text" placeholder="City">
            </div>
          </form>
        </section>

      </div>
      <div class="col-6">

        <section class="vehicle-image">
          <div class="title-vehicle-image">
            <h6>Vehicle Image</h6>
          </div>
        </section>

      </div>
    </div>

    <div class="row">
      <div class="col-6">

        <section class="vehicle-details">

          <div class="title-vehicle-details">
            <h6>Vehicle Details</h6>
          </div>

          <form class="form-vehicle-details" action="index.html" method="post">
            <div class="div-fc-veh-details row">

              <label for="fc-plate-number" class="col-sm-2 col-form-label">Plate No:</label>
              <div class="col-sm-4">
                <input class="fc-plate-number form-control form-control-sm" type="text" placeholder="Plate Number">
              </div>
              <label for="fc-mv-number" class="col-sm-2 col-form-label">MV No:</label>
              <div class="col-sm-4">
                <input class="fc-mv-number form-control form-control-sm" type="text" placeholder="MV Number">
              </div>

              <label for="fc-or-number" class="col-sm-2 col-form-label">OR No:</label>
              <div class="col-sm-4">
                <input class="fc-or-number form-control form-control-sm" type="text" placeholder="OR Number">
              </div>
              <label for="fc-engine-number" class="col-sm-2 col-form-label">Engine No:</label>
              <div class="col-sm-4">
                <input class="fc-engine-number form-control form-control-sm" type="text" placeholder="Engine Number">
              </div>

              <label for="fc-oh-type" class="col-sm-2 col-form-label">OH type:</label>
              <div class="col-sm-4">
                <input class="fc-oh-type form-control form-control-sm" type="text" placeholder="OH type">
              </div>
              <label for="fc-chassis-number" class="col-sm-2 col-form-label">Chassis No:</label>
              <div class="col-sm-4">
                <input class="fc-chassis-number form-control form-control-sm" type="text" placeholder="Chassis Number">
              </div>

              <label for="fc-district-office" class="col-sm-2 col-form-label">District Off:</label>
              <div class="col-sm-4">
                <input class="fc-district-office form-control form-control-sm" type="text" placeholder="District office">
              </div>
              <label for="fc-cylinder" class="col-sm-2 col-form-label">Cylinder:</label>
              <div class="col-sm-4">
                <input class="fc-cylinder form-control form-control-sm" type="text" placeholder="Cylinder">
              </div>

              <label for="fc-make" class="col-sm-2 col-form-label">Make:</label>
              <div class="col-sm-4">
                <input class="fc-make form-control form-control-sm" type="text" placeholder="Make">
              </div>
              <label for="fc-g-weight" class="col-sm-2 col-form-label">G weight:</label>
              <div class="col-sm-4">
                <input class="fc-g-weight form-control form-control-sm" type="text" placeholder="G weight">
              </div>

              <label for="fc-series" class="col-sm-2 col-form-label">Series:</label>
              <div class="col-sm-4">
                <input class="fc-series form-control form-control-sm" type="text" placeholder="Series">
              </div>
              <label for="fc-net-cap" class="col-sm-2 col-form-label">Net Cap:</label>
              <div class="col-sm-4">
                <input class="fc-net-cap form-control form-control-sm" type="text" placeholder="Net Cap">
              </div>

              <label for="fc-vehicle-type" class="col-sm-2 col-form-label">Veh Type:</label>
              <div class="col-sm-4">
                <input class="fc-vehicle-type form-control form-control-sm" type="text" placeholder="Vehicle Type">
              </div>
              <label for="fc-color" class="col-sm-2 col-form-label">Color:</label>
              <div class="col-sm-4">
                <input class="fc-color form-control form-control-sm" type="text" placeholder="Color">
              </div>

              <label for="fc-year-model" class="col-sm-2 col-form-label">Year Model:</label>
              <div class="col-sm-4">
                <input class="fc-year-model form-control form-control-sm" type="text" placeholder="Year Model">
              </div>
              <label for="fc-transmission" class="col-sm-2 col-form-label">Transmission:</label>
              <div class="col-sm-4">
                <input class="fc-transmission form-control form-control-sm" type="text" placeholder="Transmission">
              </div>

            </div>

          </form>
        </section>

      </div>
      <div class="col-6">

        <section class="result">

          <div class="title-result">
            <h6>Result</h6>
          </div>

        </section>

        <div class="cust-info-buttons row">
          <div class="col-6">

            <button type="button" class="btn-save btn btn-success">Save</button>

          </div>
          <div class="col-6">

            <button type="button" class="btn-print btn btn-info">Print</button>

          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
