<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Href link Changed-->
    <link rel="stylesheet" href="..\public\css\styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>

    <div class="div-body-dashboard">

      <div class="nav-bar">
          <p class="Company-Text">GREEN STAR LP</p>
          <div class="dropdown">
            <button class="account-dropdown">users name <i class="fa-solid fa-caret-down"></i></button>
              <ul>
                <li><a href="D:\School Works\Ongoing\GREENSTAR-Portal\views\cust_info.html">profile</a></li>
                <li><a href="">settings</a></li>
                <li><a href="">Log Out</a></li>
              </ul>
          </div>
          
      </div>

      <div class="welcome-carousel">
        <div class="slides">
          <!--radio buttons start-->
          <input type="radio" name="radio-btn" id="radio1">
          <input type="radio" name="radio-btn" id="radio2">
          <input type="radio" name="radio-btn" id="radio3">
          <input type="radio" name="radio-btn" id="radio4">
          <!--radio buttons end-->
          <!--slide images start-->
          <div class="slide first">
            <img src="D:\School Works\Ongoing\GREENSTAR-Portal\assets\img\1.jpg" alt="">
          </div>
          <div class="slide">
            <img src="D:\School Works\Ongoing\GREENSTAR-Portal\assets\img\2.jpg" alt="">
          </div>
          <div class="slide">
            <img src="D:\School Works\Ongoing\GREENSTAR-Portal\assets\img\3.jpg" alt="">
          </div>
          <div class="slide">
            <img src="D:\School Works\Ongoing\GREENSTAR-Portal\assets\img\4.jpg" alt="">
          </div>
          <!--slide images end-->
          <!--automatic navigation start-->
          <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
          </div>
          <!--automatic navigation end-->
        </div>
        <!--manual navigation start-->
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
        </div>
      </div>
      <!--carousel Script-->
      <script type="text/javascript">
        var counter = 1;
        setInterval(function(){
          document.getElementById('radio' + counter).checked = true;
          counter++;
          if(counter > 4){
            counter = 1;
          }
        }, 5000);
        </script>

      <div class="row dashboard-buttons">
        <div class="col-6">
          <div class="create-btn">
            <a href="D:\School Works\Ongoing\GREENSTAR-Portal\views\cust_info.html"><button type="button" class="btn btn-primary">CREATE</button></a>
          </div>
        </div>
        <div class="col-6">
          <div class="database-btn">
           <a href=""><button type="button" class="btn btn-info">DATABASE</button></a> 
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
