<%- include("partials/header") -%>

<div class="div-body-login">

      <section class="inner">
      <div class="logo">
        <h2 class="greenstar-h2">GREENSTAR LP</h2>
        <div class="div-logo-description">
          <p class="logo-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="login">
        <h3 class="register-h3">Lorem Ipsum</h3>
        <div class="div-description-p">
          <p class="description-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has</p>
        </div>
        <div class="input-box">
          <form class="" action="index.html" method="post">
            <input type="text" class="login-username form-control input-sm" name="" value="" placeholder="Username">
            <input type="text" class="login-password form-control input-sm" name="" value="" placeholder="Password">
            <button type="button" class="btn btn-success">Login</button>
          </form>
        </div>
      </div>
    </section>

    </div>



<%- include("partials/footer") -%>
