<%- include("partials/header") -%>

<div class="register-wrapper">
    <div class="register-div">
      <h5>Register</h5>
      <div class="register-inputbox">
        <form class="" action="index.html" method="post">
          <input type="text" class="textbox firstname form-control input-sm" name="" value="" placeholder="First Name">
          <input type="text" class="textbox surname form-control input-sm" name="" value="" placeholder="Surname">
          <input type="text" class="textbox username form-control input-sm" name="" value="" placeholder="Username">
          <input type="text" class="textbox password form-control input-sm" name="" value="" placeholder="Password">
          <input type="text" class="textbox confirm-password form-control input-sm" name="" value="" placeholder="Confirm Password">
          <div class="dropdown">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Role
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
          <button type="button" class="btn btn-success">Sign up</button>
        </form>
      </div>
    </div>
  </div>

<%- include("partials/footer") -%>
