<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Greenstar LP</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="..\public\css\styles.css">

</head>

<body>

  <div class="register-wrapper">
    <div class="register-div">
      <h5>Register</h5>
      <div class="register-inputbox">
        <form class="" action="index.html" method="post">
          <input type="text" class="textbox firstname form-control input-sm" name="" value="" placeholder="First Name">
          <input type="text" class="textbox surname form-control input-sm" name="" value="" placeholder="Surname">
          <input type="text" class="textbox username form-control input-sm" name="" value="" placeholder="Username">
          <input type="text" class="textbox password form-control input-sm" name="" value="" placeholder="Password">
          <input type="text" class="textbox confirm-password form-control input-sm" name="" value="" placeholder="Confirm Password">
          <div class="dropdown">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Role
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
          <button type="button" class="btn btn-success">Sign up</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>
