

/*body{}*/

.div-body-login{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100vh;
  z-index: -1;
  box-sizing: border-box;
  background-color: #F4F9F4;
  /* overflow: hidden; */
}

.inner{
  width:57.15rem;
  height: 38.125rem;
  margin-left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}

.logo{
  width: 50%;
  height:100%;
  background-color: #366738;
  text-align: center;
  opacity: 86%;
  border-radius: 20px 0 0 20px;

}

.login{
  width: 50%;
  height:100%;
  background-color: #F9F9F9;
  text-align: center;
  border-radius: 0 20px 20px 0;
}

.greenstar-h2{
  margin-top: 50%;
}

.register-h3{
  margin-top: 25%;
}

.input-box{
  padding: 1rem;
  width: 65%;
  text-align: center;
  margin: auto;
}

.input-box .btn-success{
  width: 100%;
}

.input-box .form-control{
  margin-bottom: 10px;
  border:1px solid;
  border-color: green;
}

.div-description-p{
  width:20rem;
  margin: auto;
}

.div-description-p .description-p{
  font-size: 0.8rem;
}

.div-logo-description{
  width:20rem;
  margin: auto;
}

.div-logo-description .logo-description{
  font-size: 0.8rem;
}


/* --------------------------------------------------------------------REGISTER HTML------------------------------------------------------------- */

body .register-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100vh;
  z-index: -1;
  box-sizing: border-box;
  background-color: #F4F9F4;
}

.register-div{
  width:57.15rem;
  height: 38.125rem;
  background-color:#F8F9F8;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  overflow: hidden;
}

.register-div .register-inputbox{
  width:50%;
  margin-left: 25%;
}

.register-div h5{
  margin-top: 12.5%;
}

.register-div .textbox, .btn{
  margin-bottom: 10px;
}

.register-div .btn{
  width:100%;
}

.register-div .textbox{
  border:1px solid;
  border-color: green;
}


/* -----------------------------------------------------------------------------CUST-INFO----------------------------------------------- */


body .cust-info-wrapper{
  width:100%;
  height:100vh;
  z-index: -1;
  background-color: #F4F9F4;
  padding-top: 15px;
}


.nav-bar{
width: 90%;
height: 50px;
margin-left: 5%;
background: #FFFFFF;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
border-radius: 20px;
}

.vehicle-owner{
width: 90%;
height: 125px;
margin-left: 10%;
margin-top: 15px;
background: #FFFFFF;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
border-radius: 20px;
overflow: hidden;
border: 1px solid;
border-color: #019267;
}

.address{
  width: 90%;
  height: 75px;
  margin-left: 10%;
  margin-top: 15px;
  background: #FFFFFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  border-color: #019267;
}

.vehicle-image{
  width: 90%;
  height: 13.4375rem;
  margin-right: 10%;
  margin-top: 15px;
  background: #FFFFFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  overflow: hidden;
}

.vehicle-details{
  width: 90%;
  height: 32rem;
  margin-left: 10%;
  margin-top: 15px;
  background: #FFFFFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  overflow: hidden;
}

.result{
  width: 90%;
  height: 300px;
  margin-right: 10%;
  margin-top: 15px;
  background: #FFFFFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  overflow: hidden;
}

.cust-info-wrapper .btn-save, .btn-print{
    margin-top: 1.25rem;
    height: 5rem;
    width: 100%;
}


.cust-info-wrapper .cust-info-buttons{
  width: 95%;
}

/* ----------------------------------------------------------------Vehicle Owner-------------------------------------------------------- */

.title-vehicleowner{
  background-color: #019267;
}

.title-vehicleowner h6{
  margin-left: 10px;
  margin-bottom: 0;
  color: white;
}

.vehicle-owner .div-form-control-register{
  width:95%;
  margin: auto;
  margin-top: 10px;
}

.vehicle-owner .form-control{
  border: 1px solid;
  border-color: #019267;
}

/* ----------------------------------------------------------------Address-------------------------------------------------------- */
.address .title-address{
  background-color: #019267;
}

.title-address h6{
  margin-left: 10px;
  margin-bottom: 0;
  color: white;
}

.address .form-control{
  border: 1px solid;
  border-color: #019267;
}

.address .div-form-control-address{
  width:95%;
  margin: auto;
  margin-top: 10px;
}


/* ----------------------------------------------------------------Vehicle Image-------------------------------------------------------- */
.vehicle-image .title-vehicle-image{
  background-color: #019267;
}

.title-vehicle-image h6{
  margin-left: 10px;
  margin-bottom: 0;
  color: white;
}

/* ----------------------------------------------------------------Vehicle Details-------------------------------------------------------- */

.vehicle-details .title-vehicle-details{
  background-color: #019267;
}

.title-vehicle-details h6{
  margin-left: 10px;
  margin-bottom: 0;
  color: white;
}
.div-fc-veh-details{
  padding: 11px 0;
}

.div-fc-veh-details .col-sm-2{
  text-align: center;
}

.div-fc-veh-details .form-control{
  width:90%;
  height:100%;
  border: 1px solid;
  border-color: #019267;
}

.div-fc-veh-details .col-sm-4{
  padding: 0;
}

.div-fc-veh-details{
  gap: 0.5em 0;
}

/* ----------------------------------------------------------------Results------------------------------------------------------------ */

.result .title-result{
  background-color: #019267;
}

.title-result h6{
  margin-left: 10px;
  margin-bottom: 0;
  color: white;
}


/* ----------------------------------------------------------------Dashboard------------------------------------------------------------ */


body .div-body-dashboard{
  width:100%;
  height:100vh;
  z-index: -1;
  background-color: #F4F9F4;
  padding-top: 15px;
}

.div-body-dashboard .nav-bar{
width: 90%;
height: 3.125rem;
margin-left: 5%;
background: #FFFFFF;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
border-radius: 20px;
}

/*carousel*/
.div-body-dashboard .welcome-carousel{
  width: 90%;
  height: 26rem;
  margin-left: 5%;
  margin-top: 0.5rem;
  background: #FFFFFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 300px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 418px;
  border-radius: 20px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 90%;

  margin-top: 50px;
  display: flex;
  justify-content: center;
  
}

.manual-btn{
  border: 2px solid #60f160;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #60f160;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 90%;
  justify-content: center;
  margin-top: 350px;
}

.navigation-auto div{
  border: 2px solid #60f160;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #60f160;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #60f160;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #60f160;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #60f160;
}
/*End of Carousel*/

.dashboard-buttons{
  width: 90%;
  margin-left: 5%;
  margin-top: 0.5rem;
}

.database-btn, .create-btn{
  margin-left: 6.25%;
  margin-right: 6.25%;
}

.dashboard-buttons .col-6{
  padding: 0;
}
.dashboard-buttons button{
  width: 100%;
  height: 13rem;
  border-radius: 20px;
  margin-bottom: 0;
}


